body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.devcolor{
    color:aqua;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 580px;

}
.link-button{
    text-decoration: none;
    background-color: rgb(0, 255, 242);
    font-size: large;
    font-weight: 900;
    color: rgb(247, 9, 9);
    padding: 10px 20px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.experiences-area{
    background-image: url( images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.boxer{
    width: 40%;
    padding: 5%;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(0, 255, 242);
    
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(6, 252, 199));
    border-image-slice: 1;
    
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 85), rgb(248, 14, 104));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

